[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest.git
[submodule "external/utf8"]
	path = external/utf8
	url = https://github.com/rhymu8354/Utf8.git
	branch = main
