[submodule "external/gtest"]
	path = external/gtest
	url = git@github.com:google/googletest.git
[submodule "external/utf8"]
	path = external/utf8
	url = git@github.com:MKKHLIF/UTF8.git
	branch = main
